@media(max-width:500px){

  .connect{display:none;}
  .navigation{display:none;}
  .header h1{margin:5px 120px}
  .fa-search{visibility:hidden;}
  .fa-user{visibility:hidden;}
  .fa-heart-o {margin:15px -20px;}
   .main{
    height:350px;
    width:100%;
    overflow:hidden;
    position:relative;
   }
      .brand h4{
        font-size:60px;
        text-align:center;
    }
    .brand-1 .brands{
      height:100px;
      width:300px;
      background:white;
      box-shadow:0 0 20px gray;
      margin-left:100px;
   
  }
  .img-1{
    height:400px;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:100px;
    /*background:cornsilk;*/
    margin-top:40px;
    
 } 
 .img-1 .fa-dollar{
  margin-right:50px;
 }
 .img-1 .fa-dollar{margin-right:400px;}
 .img-1 .y1{
  /*border:2px solid;*/
   margin:30px;
}
      .fa-dollar{margin:10px 30px;}
      .fa-clone{margin-top:10px;}
      .fa-thumbs-up{margin-top:10px;}
      .category{height:600px;} 
      
      .category .category-1{display:block;}
      .category-1 .cate{
         height:120px;
         width:280px;
         margin-top:10px;
         background-color:white;
         box-shadow:0 0 20px gray;
    }
      .stander{height:450px;width:25%;margin-top:150px;padding-right:50px;}
      .stander .stander-1{display:block;}
      .stander-1 .std{
        height:120px;
        width:350px;
        margin-top:20px;
        transition:0.5s;
        background-color:white;
        box-shadow:0 0 20px gray;
      }
      .product{
        height:1050px;
        width:100%;
        background:coral;
        margin-top:20px;
        
      
    }
    
    .product-1 .pro{
        height:250px;
        width:250px;
       display:flex;
    }
    .product-1 .pro{
        margin-top:10px;
    }
    .news{
      margin-bottom:100px;
        height:150px;
        width:100%;
      /* background:greenyellow;*/
        transition:0.5s;
    }
    .news-1 .new{height:100px;gap:10px;margin-left:10;}
   
    .arrivals .arrivals-1 .arriv{height:100px;margin-left:10;}
    
     .test p{
      text-align:center;
      font-size:30px;
      color:black;
   }
     .test span{
     
      font-size:20px;
      text-align:center;
      margin-left:5px;
      color:gray;
  }
  .test h2{
   
    font-size:20px;
   margin-left:70px;
    color:black;
    
 }
 .fotter-row{
  
  display:block;
  height:300px;
 
  background:black;
  
}
 .fotter-row h2{
  margin-top:20px;
 }
 .fotter-row p{
 display:none;
}    

.discover{
  height:500px;
  width:800px;
 margin-top:100px;
  /*background:gray;*/
  position: relative;
}
.discover h4{

font-size:20px;
margin-right:500px;

}
.discover-1{}

.dry{
    height:600px;
    width:80%;
    margin-top:400px;
    /* background:pink;*/
    position:absolute;
    top:3650px;
    left:0px;
  }
  .brand h4{
    display:none;
}
 
.fotter{
  height:250px;
  width:100%;
  /* background:red;*/
}

.fotter .fotter-1{
  height:200px;
  width:100%;
  /* background:coral;*/
  display:flex;
  margin:20px;
}


     
      
  }
